.search_table{
    width:100%;
    align-items:center;
    text-align: center;
}

.search_th{
    background-color:black;
    border:solid 1px green;
    color: white;
    text-align: center;
    padding: 10px;
}


.search_tr > * {
    background-color:gray;
    border:solid 1px green;
    text-align: center;
}

td a {
    width: 100%;
    display: block;
}

.table_features {
    text-align: left;
    color: darkslategrey;
    font-weight: bold;
    display: block;
    width: fit-content;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
}

.noHover{
  pointer-events: none;
}